@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Employees</h1>
</div>

<div class="row">

    <div class="col-md-7">
        <div data-bind="foreach: employees">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><strong><span data-bind="text: FirstName"></span> <span data-bind="text: $data.MiddleName || ''"> </span><span data-bind="text: LastName"></span></strong></h2>
                </div>
                <div class="panel-body">
                    <div class="col-md-6"> 
                        <div><span data-bind="text: $data.Telephone || 'Telephone?'"></span></div>
                        <div><span data-bind="if: $data.Email"><a data-bind="attr: { href: 'mailto:' + Email }, text: Email"></a></span></div>
                        <div><span data-bind="ifnot: $data.Email">Email?</span></div>
                        <br />
                        <div><span data-bind="text: $data.Address1 || 'Address?'"></span></div>
                        <div><span data-bind="text: $data.Address2"></span></div>
                        <div><span data-bind="text: $data.Address3"></span></div>
                        <div>
                            <span data-bind="text: $data.City || 'City?'"></span>,
                            <span data-bind="text: $data.State || 'State?'"></span>
                            <span data-bind="text: $data.Zip || 'Zip?'"></span>
                        </div>
                        <br />
                        <div>Birthday: <span data-bind="text: $data.BirthDate || 'Birthday?'"></span></div>
                        <br />
                        <span><a href="#">You're Fired!</a></span>
                        @*<p><a data-bind="attr: { href: Self }, click: $root.removeEmployee" class="removeEmployee ui-state-default ui-corner-all">Remove</a></p>*@
                    </div>
                    <div class="col-md-6">
                        <div><strong><span data-bind="text: $data.Department || 'Department?'"></span></strong></div>    
                        <div>Supervisor: <span data-bind="text: $data.Supervisor || 'Supervisor?'"></span></div>
                        <br />
                        <div>SSN: <span data-bind="text: $data.SSN || 'SSN?'"></span></div>                            
                        <div>Salary: <span data-bind="text: $data.AnnualSalary || 'Salary?'"></span></div>
                        <div>Hire Date: <span data-bind="text: $data.HireDate || 'Hire Date?'"></span></div>
                        <br />
                        <span><a href="#">Give Raise</a></span>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>             

    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Employee</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addEmployee">
                    <div class="form-group" data-bind="with: newEmployee">
                        <label for="inputFirstName" class="col-sm-3 control-label">First</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="inputFirstName" data-bind="value:FirstName" />
                        </div>

                        <label for="inputMiddleName" class="col-sm-3 control-label">Middle</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputMiddleName" data-bind="value:MiddleName" />
                        </div>

                        <label for="inputLastName" class="col-sm-3 control-label">Last</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputLastName" data-bind="value:LastName" />
                        </div>

                        <label for="inputTelephone" class="col-sm-3 control-label">Telephone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputTelephone" data-bind="value:Telephone" />
                        </div>

                        <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputEmail" data-bind="value:Email" />
                        </div>

                        <label for="inputAddress1" class="col-sm-3 control-label">Address1</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputAddress1" data-bind="value:Address1" />
                        </div>

                        <label for="inputAddress2" class="col-sm-3 control-label">Address2</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputAddress2" data-bind="value:Address2" />
                        </div>

                        <label for="inputAddress3" class="col-sm-3 control-label">Address3</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputAddress3" data-bind="value:Address3" />
                        </div>

                        <label for="inputCity" class="col-sm-3 control-label">City</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputCity" data-bind="value:City" />
                        </div>

                        <label for="inputState" class="col-sm-3 control-label">State</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputState" data-bind="value:State" />
                        </div>

                        <label for="inputZip" class="col-sm-3 control-label">Zip</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputZip" data-bind="value:Zip" />
                        </div>

                        <label for="inputBirthDate" class="col-sm-3 control-label">Birthday</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputBirthDate" data-bind="value:BirthDate" />
                        </div>

                        <label for="inputDepartment" class="col-sm-3 control-label">Department </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputDepartment" data-bind="value:Department" />
                        </div>

                        <label for="inputSupervisor" class="col-sm-3 control-label">Supervisor </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputSupervisor" data-bind="value:Supervisor" />
                        </div>

                        <label for="inputSSN" class="col-sm-3 control-label">SSN </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputSSN" data-bind="value:SSN" />
                        </div>

                        <label for="inputAnnualSalary" class="col-sm-3 control-label">Salary </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputAnnualSalary" data-bind="value:AnnualSalary" />
                        </div>

                        <label for="inputHireDate" class="col-sm-3 control-label">Hire Date </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputHireDate" data-bind="value:Hire Date" />
                        </div>

                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>